<div class="row">
  <h3>Vítejte na stránách Poradce pro výběr hry</h3>
  <p>Toto uživatelské rozhranní je určeno pro demonstraci využití služby IBM Watson. Konkrétně vám chat bot pomůže vybrat hru z vaší kolekce.</p>
    <p>For more information about code and content see the repository in github.com <a href="https://github.com/ibm-cloud-architecture/refarch-cognitive-conversation-broker">IBM Cloud Architecture</a></p>
    <p>For a deep dive tutorial on how the IT support conversation is done see the <a href="https://www.ibm.com/cloud/garage/tutorials/watson_conversation_support">garage method site</a></p>
    <button (click)="conversation()" class="btn">Zjisti jakou hru si zahrát</button>
</div>
